.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  width: 1248px;
  height: 646px;
  object-fit: cover;
  padding: 20px;
  margin: 0 auto;
  min-width: 250px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "DS Sant", sans-serif;

  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .product-title {
      font-size: 33px;
      color: #fff;
      margin-bottom: 16px;
    }

    .product-price {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
      margin-bottom: 48px;
    }

    .btn-product {
      color: #fff;
      background-color: rgba(0, 0, 0, 0);
      text-decoration: none;
      border: 2px #fff solid;
      border-radius: 6px;
      padding: 10px 40px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carousel {
    background-position: 50% 50%;
  }
}
