@import url("https://fonts.cdnfonts.com/css/dm-sans");

.jewelry-card {
  padding: 16px;
  text-align: left;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  max-width: 300px;
}

.jewlry-sale {
  z-index: 2;
  border-radius: 4px;
  border-width: 5px;
  width: 46px;
  height: 24px;
  background-color: #a18a68;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  .jewlry-sale-info {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    color: #ffffff;
  }
}

.jewelry-card-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.jewelry-card-title {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: #000000;
  margin: 10px;
}

.jewelry-card-price {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: #a18a68;
  margin: 10px;
}

.jewelry-card-pic {
  width: 100%;
  z-index: 1;
}

.jewelry-card-stub {
  width: 300px;
  height:300px;
  background-color: #a18a68;
}

@media (max-width: 768px) {
  .jewelry-card {
    max-width: 100%;
  }
}
