.addresses-block {
    width: 1240px;
    .addresses-text {
        color: #000;
        font-family: DM Sans, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 45px;
    }
    .flex-block {
        display: flex;
        justify-content: space-between;
        .addresses-title {
            color: #000;
            font-family: DM Sans, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 24px;
        }
        .addresses-link {
            color: #A18A68;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 14px;
        }
        .addresses-info {
            color: #707070;
            font-family: DM Sans, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 150px;
        }
    }
}