.wrapper-cabinet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .cabinet {
    width: 1248px;
    padding-bottom: 50px;
    .cabinet-title {
      font-family: "DM Sans", sans-serif;
      font-size: 33px;
      font-style: normal;
      font-weight: 500;
      line-height: 43px;
      margin-bottom: 64px;
      margin-top: 96px;
      text-align: center;
    }
    .nav-bar {
      width: 100%;
      .cabinet-navbar {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px #d8d8d8 solid;
        li {
          color: #707070;
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          position: relative;
          line-height: 1;
          margin-right: 70px;
          white-space: nowrap;
          &:hover {
            color: #000;
          }

          &.active {
            color: #000;

            &::after {
              content: "";
              position: absolute;
              top: 53px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #000;
            }
          }
          .btn-cabinet {
            color: #707070;
            font-family: "DM Sans", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin-right: 10px;
            background: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1399px) {
  .wrapper-cabinet {
    .cabinet {
      width: 767px;
      padding-bottom: 50px;
      .nav-bar {
        width: 100%;
        .cabinet-navbar {
          padding-bottom: 25px;
          li {
            font-size: 16px;
            &:hover {
              color: #000;
            }
            &.active {
              &::after {
                top: 43px;
              }
            }
            .btn-cabinet {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper-cabinet {
    .cabinet {
      width: 318px;
      padding-bottom: 30px;
      .nav-bar {
        width: 100%;
        .cabinet-navbar {
          padding-bottom: 25px;
          li {
            font-size: 13px;
            margin-right: 20px;
            white-space: nowrap;
            &:hover {
              color: #000;
            }
            &.active {
              &::after {
                top: 40px;
              }
            }
            .btn-cabinet {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
