.catalog {
    width: 1250px;
    padding-top: 37px;
    justify-content: space-between;
    align-items: flex-start;
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.page {
    &__title {
        font-family: "DM Sans", sans-serif;
        font-size: 33px;
        font-weight: 500;
        margin: 39px 0;
    }
}

.cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px 7px;
    height: min-content;
    width: 100%;
    margin-left: 45px;
    &__wrapper {
       display: flex;
       justify-content: space-between;
    }
}

.sidebar {
    width: 262px;
    min-height: 336px;
} 

// @media screen and (min-width: 768px) and (max-width: 1399px) {
//     .page {
//         &__title {
//             max-width: 630px;
//         }
//     }
//     .cards-list {
//         max-width: 690px;
//     }
//     .cards-list__wrapper {
//         position: relative;
//         max-width: max-content;
//     }
//     .sidebar {
//         position: absolute;
//         top: -30px;
//         right: 430px;
//         border: 1px solid #5E3928;
//         background-color: #ffffff;
//         padding-top: 15px;
//     }
// }

// @media screen and (min-width: 320px) and (max-width: 767px) {
//     .page {
//         &__title {
//             max-width: 300px;
//         }
//     }
//     .cards-list {
//         max-width: 300px;
//     }
//     .cards-list__wrapper {
//         position: relative;
//         max-width: max-content;
//     }
//     .sidebar {
//         position: absolute;
//         top: -30px;
//         right: 50px;
//         border: 1px solid #5E3928;
//         background-color: #ffffff;
//         padding-top: 15px;
//     }
// }
