.checkout_page {
  font-family: "DM Sans", sans-serif;
  width: 1250px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .checkout_main-top {
    .main-top_title {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      margin-top: 50px;
      font-size: 33px;
      font-weight: 500;
      line-height: 43px;
    }

    .main-top_login {
      display: flex;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      margin-bottom: 20px;
      color: #707070;

      .login-mark-text {
        cursor: pointer;
        margin-left: 5px;
        color: #000000;
      }
    }

    .main-top_coupon {
      .coupon-box {
        width: 580px;
        height: 181px;
        border: solid 1px rgba(134, 134, 134, 0.53);
        display: flex;
        flex-direction: column;
        position: relative;

        .box-title {
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          text-align: left;
          color: #707070;
          margin: 20px;
        }

        .box-flex-action {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          margin: 20px;

          .box-textfield {
            width: 100%;

            .promo_select {
              position: absolute;
              top: 130px;
              left: 20px;
              color: var(--light-colors-black-light, #000);
              font-family: DM Sans, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 27px;
            }
          }
        }
      }
    }
  }

  .checkout_main-bottom {
    display: flex;
    .main-bottom_billing {
      width: 580px;
      .billing_names {
        display: flex;
        flex-direction: column;

        .billing_textfield-items {
          padding-top: 20px;
          justify-content: space-between;
          display: flex;

          .billing_textfield-item {
            height: 24px;
            width: 270px;
            border-bottom: 1px solid #9a9a9a;
          }
        }

        .billing_title {
          margin-top: 50px;
          margin-bottom: 30px;
          font-size: 26px;
          font-weight: 400;
          line-height: 35px;
          text-align: left;
        }
      }

      .billing_info-items {
        display: flex;
        flex-direction: column;

        .billing_info-item {
          margin-top: 32px;
          width: 580px;
          height: 28px;
          border-bottom: 1px solid #9a9a9a;
        }

        .billing_info-select {
          margin-top: 32px;
          border: none;
        }
      }

      .billing_checkbox {
        margin: 20px 0 20px 0;
      }
    }

    .main-bottom_order {
      width: 580px;
      margin-left: 50px;
      margin-bottom: 30px;

      .order_title {
        margin-bottom: 30px;
        margin-top: 50px;
        font-size: 26px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
      }

      .order_product-box {
        background: var(--light-colors-light-gray-light, #efefef);
        padding: 60px;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;

        .box-total_title {
          display: flex;
          justify-content: space-between;
          padding: 20px 0 20px 0;
          text-transform: uppercase;
          position: relative;

          &::after {
            content: "";
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }

        .box-items {
          display: flex;
          justify-content: space-between;
          padding: 20px 0 20px 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          color: #707070;
        }

        .box-subtotal {
          display: flex;
          justify-content: space-between;
          padding: 20px 0 20px 0;
          position: relative;

          &::before,
          &::after {
            content: "";
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            position: absolute;
            left: 0;
            right: 0;
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          .subtotal-title {
            text-transform: uppercase;
          }

          .subtotal-price {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #707070;
          }
        }

        .box-shipping {
          display: flex;
          justify-content: space-between;
          padding: 20px 0 20px 0;
          position: relative;

          &::after {
            content: "";
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }

          .shipping-title {
            text-transform: uppercase;
          }

          .shipping-subtitle {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #707070;
          }
        }

        .box-total-sum {
          display: flex;
          justify-content: space-between;
          padding: 20px 0 20px 0;

          .total-sum-title {
            text-transform: uppercase;
          }

          .total-sum-total {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #707070;
          }
        }

        .box-action {
          .bank-title {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #707070;
            padding: 16px;
          }
        }

        .action-check {
          margin-bottom: 40px;
        }
      }
    }
  }

  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .checkout_page {
    width: 738px;
    margin: 0 auto;
    .checkout_main-top {
      .main-top_title {
        justify-content: flex-start;
        font-size: 20px;
        margin: 24px 0;
      }
      .main-top_login {
        font-size: 14px;
      }
      .main-top_coupon {
        .coupon-box {
          width: 738px;
          height: 100%;

          .box-title {
            font-size: 14px;
            margin: 20px;
            margin-bottom: 0;
          }

          .box-flex-action {
            margin: 20px;
          }
        }
      }
    }

    .checkout_main-bottom {
      justify-content: space-between;
      .main-bottom_billing {
        width: 300px;
        .billing_names {
          .billing_textfield-items {
            padding: 0;
            flex-direction: column;
            .billing_textfield-item {
              width: 280px;
              margin-top: 32px;
            }
          }

          .billing_title {
            margin-top: 30px;
            margin-bottom: 0;
            font-size: 18px;
          }
        }

        .billing_info-items {
          .billing_info-item {
            width: 280px;
          }
        }
      }

      .main-bottom_order {
        margin: 0;
        width: 370px;
        .order_title {
          font-size: 18px;
          margin-top: 30px;
        }

        .order_product-box {
          padding: 14px;
          font-size: 14px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .css-1gjbhi8-control,
  .css-1ko6t5g-control,
  .css-1nmdiq5-menu {
    width: 280px;
  }

  .css-4cxiow-MuiButtonBase-root-MuiButton-root {
    width: 280px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .checkout_page {
    width: 290px;
    margin: 0 15px;
    .checkout_main-top {
      .main-top_title {
        justify-content: flex-start;
        font-size: 16px;
        margin: 64px 0 24px 0;
      }
      .main-top_login {
        font-size: 12px;
      }
      .main-top_coupon {
        .coupon-box {
          width: 290px;
          height: 100%;

          .box-title {
            font-size: 12px;
            margin: 20px;
            margin-bottom: 0;
          }

          .box-flex-action {
            height: 110px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
            margin-bottom: 20px;
          }
        }
      }
    }

    .checkout_main-bottom {
      display: inline;
      .main-bottom_billing {
        width: 280px;
        .billing_names {
          .billing_textfield-items {
            padding: 0;
            flex-direction: column;
            .billing_textfield-item {
              width: 280px;
              margin-top: 32px;
            }
          }

          .billing_title {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 16px;
          }
        }

        .billing_info-items {
          .billing_info-item {
            width: 280px;
          }
        }
      }

      .main-bottom_order {
        margin: 0;
        width: 290px;
        .order_title {
          font-size: 16px;
        }

        .order_product-box {
          padding: 14px;
          font-size: 12px;
          margin-bottom: 35px;
        }
      }
    }
  }

  .css-1gjbhi8-control,
  .css-1ko6t5g-control,
  .css-1nmdiq5-menu {
    width: 280px;
  }

  .css-4cxiow-MuiButtonBase-root-MuiButton-root {
    width: 280px;
  }
}
