.container {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1240px;
  .flex-shop {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    .title-shop {
      font-family: "DM Sans", sans-serif;
      font-size: 33px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 16px;
      margin-right: 10px;
    }

    .shop-link {
      color: #a18a68;
      font-family: "DM Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      text-transform: capitalize;
      text-align: left;
    }
  }


    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;

    .product-card {
      width: calc(33.33% - 20px);
      @media (max-width: 768px) {
        width: calc(50% - 20px);
      }
    }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .container {
            max-width: 650px;
        }
    }
}

.home-page {
    .jewelry-card {
        text-align: left;
        background-color: #fff;
        min-height: 400px;
        max-width: 400px;
        position: relative;
    }

  .jewelry-card-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;

        &:hover+.icons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

  .icons-container {
    display: none;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin: 0 15px;
    background-color: transparent;
  }

  .jewelry-card-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
  }

    .jewelry-card-title {
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        color: #000000;
        margin: 10px;
        height: 40px;
    }

    .jewelry-card-price {
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        color: #a18a68;
        margin: 10px;
    }

    @media (max-width: 768px) {
        .jewerley-card-catalog {
            justify-content: center;
        }

        .jewelry-card {
            max-width: calc(50% - 20px);
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .jewelry-card {
            text-align: left;
            background-color: #fff;
            max-width: 140px;
            position: relative;
        }
        .jewelry-card-title {
            height: 20px;
            width: 200px;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .jewelry-card-price {
         font-size: 18px;
         margin: 10px;
        
         }
    }
}
