.orders-block {
    width: 1240px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #EFEFEF;
    border-top:2px  #A18A68 solid;
    .orders-text {
        color: #000;
        font-family: DM Sans, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
    }

    .orders-link {
        color: #A18A68;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}
