.orders-block {
  width: 1240px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  border-top: 2px #a18a68 solid;
  margin-bottom: 100px;
  .orders-text {
    color: #707070;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .orders-link {
    color: #a18a68;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

.orders-list {
    width: 1240px;
    list-style: none;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 100px;
    .orders-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid black;

        .orders-text {
            text-transform: uppercase;
            flex: 1;
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    .orders-item {
        padding: 10px 0;
        margin-bottom: 24px;
        color: #707070;

        .mobile-orders {
            display: none;
        }
        .desktop-orders {
        display: flex;
            justify-content: space-between;
            align-items: center;
        
        .orders-text {
            flex: 1;
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }

        .orders-link {
         color: #A18A68;
         font-family: DM Sans;
         font-size: 16px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         text-transform: uppercase;
        }
      }
    }

    .orders-item {
        padding: 24px 0;
        border-bottom: 1px solid #D8D8D8;
        margin: 0;

        &:last-child {
            border: none;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .orders-list {
        max-width: 350px;
            .orders-header {
                display: none;
            }
            
            .orders-item {
                padding: 10px 0;
                margin-bottom: 24px;
                color: #707070;

                .mobile-orders {
                  display: block;
                }

                .desktop-orders {
                    display: none;
                }
                
                .mobile-flex_orders {
                    display: flex;
                    justify-content: space-between;
                }

                .orders-text {
                    color: #000;
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    margin-bottom: 24px;
                }
                 
                .mobile-info {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    margin-bottom: 24px;
                }

                .orders-link {
                color: #A18A68;
                font-family: DM Sans, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                }
            }
        }
}